* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --container: #fffdd0;
  --sidebar: #fff985;
  --text: #00928b;
  --bgbutton: #2f4858;
  --bgfooter: #88d359;
  --bginput: #ffffff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
